.DS_Store
/dataverse_files
__pycache__
*.pyc
.dockerignore
.csv
.env
.pkl
/models
/data
*.model

!model_experiments.csv

/thesis/experiments/data
baseline_model
bertopic_2019_model
baseline_vs_incremental_model
incremental_model

model_*
archive/preliminary_models
archive/data
all_analyses/experiments/data
