.DS_Store
/dataverse_files
__pycache__
*.pyc
.dockerignore
.csv
.env
.pkl
/models
/data
*.model

!model_experiments.csv

/thesis/experiments/data
baseline_model
bertopic_2019_model
baseline_vs_incremental_model
incremental_model

model_*
Archive/preliminary_models/merged_models/merged_model_2016_to_2018_all_mpnet_base_v2_umap_hdbscan_speeches_Nonetopics_10dim_2024-11-15

archive/
